* {
  box-sizing: border-box;
  font-family: inherit;
  padding: 0;
}

html {
  margin: 0px;
  padding: 0px;
  font-family: "Kanit", sans-serif;
  font-size: 16px;
}

body {
  --main-color: darkorange;
  --secondary-main-color: salmon;
  --link-color: chartreuse;
  --hover-color: dodgerblue;
  --active-color: crimson;
}

::selection {
  background-color: burlywood;
  color: cadetblue;
}

@media print {
  aside {
    display: none;
  }
}

/* breakpoints for medium and bigger screens */

@media screen and (min-width: 786px) {
  html {
    font-size: 20px;
  }
}

@media screen and (min-width: 992px) {
  html {
    font-size: 24px;
    .aside {
      position: fixed;
    }
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Oswald", sans-serif;
}

ul,
ol {
  margin-left: 2rem;
}

li {
  margin-bottom: 0.2rem;
}

main {
  /*padding: 1rem;*/
  margin-left: 1rem;
  max-width: 100ch;
}

.main-header {
  text-align: center;
  background-image: linear-gradient(
    var(--main-color),
    var(--secondary-main-color)
  );
  font-size: 1rem;
  padding: 1em;
}

.main-header:hover .aside {
  background-color: hotpink;
  transform: scale(0.5);
  transform-origin: 50% 50%;
  transition: 1s;
  -webkit-transition: width 0.1s; /* Safari and Chrome */
  -moz-transition: scale 1s; /* Firefox 4 */
}

.flex-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (min-width: 768px) {
  .flex-container {
    flex-direction: row;
    justify-content: center;
    gap: 20px;
  }

  .grid-main-article {
    display: grid;
    grid-template-columns: 1fr 4fr;
    /*background-color: lightsalmon;*/
    grid-template-areas:
      "header header"
      "blank article"
      /*"header header"
      "blank article"
      "header header"
      "blank article"
      "header header"
      "blank article"*/;
  }
}

.grid-header {
  grid-area: header;
}

.grid-article {
  grid-area: article;
}

.main-headline {
  font-size: 4rem;
}

.main-headline-main {
  font-size: 1em;
}

.main-headline-support {
  font-size: 0.25em;
}

.main-header .main-headline-support::after {
  content: " 💻 🔥";
}

.aside {
  position: absolute;
  top: 0;
  right: 0;
  border: 0.25rem solid;
  background-color: var(--link-color);
}

.nav {
  color: var(--link-color);
  transition: 700ms ease;
  border-radius: 0.2rem;
  padding: 0.1rem;
}

.nav:hover {
  background-color: var(--hover-color);
}

.nav:active {
  background-color: var(--active-color);
}

.nav:focus-visible {
  border: 2px dotted darkolivegreen;
}

article + article {
  margin-top: 2.5rem;
}

main > article {
  border-top: 0.25rem dotted darkolivegreen;
}

article:first-child {
  border: none;
}

@media screen and (min-width: 786px) {
  .experience-header {
    display: inline-block;
  }
}

@media screen and (min-width: 786px) {
  h3 + p {
    display: inline-block;
  }
}

h3.experience-header {
  margin-right: 0.7rem;
}

.article-header {
  position: relative;
  margin-left: -1rem;
}

.footer {
  text-align: center;
  padding: 2rem;
  background-image: linear-gradient(
    to right bottom,
    var(--main-color),
    var(--secondary-main-color)
  );
  _border: 2px solid red;
}

.footer p::after {
  content: "🤨";
  font-size: 2rem;
  margin-left: 0.5rem;
}

footer p:hover {
  background-color: var(--hover-color);
}
