* {
  box-sizing: border-box;
}

body {
  margin: 0px;
  font-family: "Kanit", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Oswald", sans-serif;
}

header,
main {
  padding: 16px;
}

#main-header {
  text-align: center;
  background-color: darkorange;
}

h1 {
  padding: 30px;
}
