* {
  box-sizing: border-box;
  font-family: inherit;
}

html {
  margin: 0px;
  font-family: "Kanit", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Oswald", sans-serif;
}

main {
  padding: 16px;
}

.main-header {
  text-align: center;
  background-color: darkorange;
}

h1 {
  padding: 30px;
}

.nav {
  color: greenyellow;
}

.nav:hover {
  background-color: dodgerblue;
}

.nav:active {
  background-color: crimson;
}

a + a {
  margin-left: 40px;
}

::selection {
  background-color: burlywood;
  color: cadetblue;
}

article + article {
  margin-top: 40px;
}

main > article {
  border-top: 4px dotted darkolivegreen;
}

article:first-child {
  border: none;
}

main {
  border: pink solid px=4;
}

#main-header h2::after {
  content: " 💻 🔥";
}
